<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heub.selectcourse.mapper.CollegeMapper">

    <resultMap id="BaseResultMap" type="com.heub.selectcourse.model.domain.College">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="collegeName" column="college_name" jdbcType="VARCHAR"/>
            <result property="collegeCode" column="college_code" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,college_name,college_code
    </sql>
</mapper>
