<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heub.selectcourse.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="com.heub.selectcourse.model.domain.Student">
            <id property="studentNumber" column="student_number" jdbcType="VARCHAR"/>
            <result property="userPassword" column="user_password" jdbcType="VARCHAR"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="TINYINT"/>
            <result property="avatarUrl" column="avatar_url" jdbcType="VARCHAR"/>
            <result property="userSpellname" column="user_spellname" jdbcType="VARCHAR"/>
            <result property="userEnname" column="user_enname" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="college" column="college" jdbcType="VARCHAR"/>
            <result property="major" column="major" jdbcType="VARCHAR"/>
            <result property="studentClass" column="student_class" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="grade" column="grade" jdbcType="VARCHAR"/>
            <result property="trainMode" column="train_mode" jdbcType="VARCHAR"/>
            <result property="studentType" column="student_type" jdbcType="VARCHAR"/>
            <result property="trainLevel" column="train_level" jdbcType="VARCHAR"/>
            <result property="collegeId" column="college_id" jdbcType="BIGINT"/>
            <result property="educational" column="educational" jdbcType="TINYINT"/>
            <result property="depName" column="dep_name" jdbcType="VARCHAR"/>
            <result property="credit" column="credit" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        student_number,user_password,user_name,
        gender,avatar_url,user_spellname,
        user_enname,phone,email,
        college,major,student_class,
        create_time,grade,train_mode,
        student_type,train_level,college_id,
        educational,dep_name,credit
    </sql>
</mapper>
